In [35]:
import os
import pandas as pd
import numpy as np

In [43]:
pd.read_csv?

In [44]:
df = pd.read_csv("C:\\Users\\tarun\\Desktop\\datasets\\Pridicting_Air_Quality_ML\\Delhidata\\Real-data\\real_combine.csv",usecols =["T","TM","Tm","H","W","V","VH","PM 2.5"] )

In [45]:
df.head(10)

     T  TM   Tm   H    W     V    VH      PM 2.5
0  8.9  15  5.0  93  0.5   4.8  11.1  284.795833
1  8.9  15  5.0  93  0.5   4.8  11.1  284.795833
2  8.9  15  5.0  93  0.5   4.8  11.1  284.795833
3  9.2   -  4.0  97  0.5   9.4  16.5  219.720833
4  6.6  10  3.0  99  0.6   8.1  13.0  182.187500
5  6.6  10  3.0  99  0.6   8.1  13.0  182.187500
6  6.6  10  3.0  99  0.6   8.1  13.0  182.187500
7  9.1   -  2.0  70  0.8   9.8  14.8  154.037500
8  7.8  14  3.0  79  1.6  11.7  18.3  223.208333
9  7.8  14  3.0  79  1.6  11.7  18.3  223.208333

In [64]:
df = df[df.TM != '-']
df = df.dropna()

TypeError: float() argument must be a string or a number, not 'DataFrame'

In [63]:
df["TM"].unique()

array(['15', '10', '14', '29', '21', '28', '18', '17', '19', '20', '24',
       '22', '26', '23', '25', '27', '30', '31', '32', '34', '35', '36',
       '37', '38', '41', '42', '45', '44', '46', '43', '39', '40', '33',
       '16', '13', '21.0', '15.0', '17.0', '12.0', '10.0', '18.0', '19.0',
       '20.0', '22.0', '23.0', '24.0', '25.0', '27.0', '29.0', '28.0',
       '26.0', '30.0', '31.0', '34.0', '36.0', '35.0', '33.0', '32.0',
       '41.0', '39.0', '37.0', '43.0', '42.0', '45.0', '46.0', '44.0',
       '38.0', '23.8', '21.3', '22.4', '21.2', '22.2', '19.4', '22.1',
       '19.1', '16.2', '14.4', '16.4', '17.2', '22.7', '22.9', '22.3',
       '23.6', '24.4', '26.7', '24.8', '29.8', '28.2', '32.2', '31.9',
       '29.9', '33.8', '34.6', '30.4', '29.4', '29.2', '34.5', '38.4',
       '28.1', '40.0', '39.2', '41.2', '42.2', '38.3', '44.2', '46.2',
       '40.7', '40.9', '40.2', '44.5', '44.4', '46.4', '43.5', '40.8',
       '43.8', '43.2', '41.8', '36.1', '39.4', '37.6', '32.5', '37.8',
       '36.8', '36.2', '33.4', '35.2', '36.5', '33.9', '34.8', '35.4',
       '34.4', '37.4', '33.2', '33.7', '35.5', '35.8', '37.2', '35.6',
       '34.7', '33.1', '30.5', '27.5', '30.8', '30.2', '28.4', '26.6',
       '25.8', '26.2', '25.6', '27.2', '26.3', '23.3', '22.8', '25.2'],
      dtype=object)

In [56]:
df.head(10)

       T  TM   Tm   H    W     V    VH      PM 2.5
0    8.9  15  5.0  93  0.5   4.8  11.1  284.795833
1    8.9  15  5.0  93  0.5   4.8  11.1  284.795833
2    8.9  15  5.0  93  0.5   4.8  11.1  284.795833
4    6.6  10  3.0  99  0.6   8.1  13.0  182.187500
5    6.6  10  3.0  99  0.6   8.1  13.0  182.187500
6    6.6  10  3.0  99  0.6   8.1  13.0  182.187500
8    7.8  14  3.0  79  1.6  11.7  18.3  223.208333
9    7.8  14  3.0  79  1.6  11.7  18.3  223.208333
10   7.8  14  3.0  79  1.6  11.7  18.3  223.208333
11  13.4  29  7.0  55  2.4  11.9  22.2  200.645833

In [69]:
X = df.iloc[:,:-1].values

In [66]:
y = df.iloc[:,-1].values

In [70]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 0)

In [71]:
import xgboost as xgb

In [72]:
regressor = xgb.XGBRegressor()

In [73]:
regressor.fit(X_train,y_train)

[14:18:34] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\tarun\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [81]:
xgbpredict=regressor.predict(X_test)

In [75]:
from sklearn import metrics

In [76]:
print("MAE:",metrics.mean_absolute_error(y_test,xgbpredict))
print("MSE:",metrics.mean_squared_error(y_test,xgbpredict))
print("RMSE:",np.sqrt(metrics.mean_absolute_error(y_test,xgbpredict)))

MAE: 25.894971918039655
MSE: 1404.538239783698
RMSE: 5.088710241116078

In [80]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(regressor,X,y,cv = 5)
score.mean()

C:\Users\tarun\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\tarun\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[14:35:16] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:35:17] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\tarun\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\tarun\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[14:35:17] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:35:17] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:35:17] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

C:\Users\tarun\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

0.5883496889272057